<div class="center hero-unit">
		<h1>Oh hi</h1>
	<p>You found my sample page for
	<%= link_to "One Month Rails", "http://onemonthrails.com" %>

	</p>
	<p>
		<%= link_to "Sign Up Now!", "#", class: "btn btn-primary btn-large" %>
	</p>
</div>





